html {background-color: white;}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
 
}
body {
  font-family: Arial, sans-serif;
}